<template>
  <v-app>
    <v-navigation-drawer
     
      app
      permanent
      expand-on-hover
    >
      <v-list
        nav
        dense
      >
        <v-list-item link to='/dashboard/landing'>
          <v-list-item-icon>
            <v-icon>mdi-apps</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Меню</v-list-item-title>
        </v-list-item>
        <v-list-item link to='/dashboard/registration'>
          <v-list-item-icon>
            <v-icon>mdi-slot-machine-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Чеки</v-list-item-title>
        </v-list-item>
        <v-list-item link to='/dashboard/reports'>
          <v-list-item-icon>
            <v-icon>mdi-clipboard-text-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Отчеты</v-list-item-title>
        </v-list-item>
        <v-list-item link to='/dashboard/items'>
          <v-list-item-icon>
            <v-icon>mdi-package-variant</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Товары</v-list-item-title>
        </v-list-item>
        <v-list-item link to='/dashboard/settings'>
          <v-list-item-icon>
            <v-icon>mdi-cogs</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Настройки</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content> 
  </v-app>
</template>

<script>
 
  export default {
    name: 'dashboard',
    
    data() {
      return {
        
      }
    },
    methods: {

    
    }
  }
</script>

<style>
  
</style>
