<template>
<div>
  
</div>
</template>

<script>
 
  export default {
    name: 'index',
    
    data() {
      return {
        
      }
    },
    created() {
        this.$router.push('/dashboard')
    },
    methods: {

    
    }
  }
</script>

<style>
  
</style>
