<template>
<div>
  <v-card>
      <v-card-text>
        <v-container>
            <v-row>
                <v-col
                    cols="12"
                >
                    <v-text-field
                        v-model="item.title"
                        label="Наименование"
                    ></v-text-field>
                     <v-text-field
                        v-model="item.price"
                        label="Цена"
                    ></v-text-field>
                    <v-text-field
                        v-model="item.ean13"
                        label="Штрихкод"
                    ></v-text-field>
                </v-col>
            </v-row>
        </v-container>
        <v-btn class="success" @click="createItem()">Добавить</v-btn>
      </v-card-text>
</v-card>

</div>
</template>

<script>
    const remote = require('electron').remote;
    const application = remote.app;
    var Datastore = require('nedb')
    var db = new Datastore({ filename: `${application.getPath('userData')}/items.db`, autoload: true });

    export default {
    name: 'additem',
    
    data() {
      return {
        item:{
            title: '',
            price: null,
            ean13: null
        }
      }
    },
    created() {
        
    },
    methods: {
        createItem() {
            let app = this
            db.insert({ title: app.item.title, price: app.item.price, ean13: app.item.ean13 } , function (err, newDoc) {   
            });
        }
    
    }
  }
</script>

<style>
  
</style>
