<template>

<div class="mx-auto  px-2 py-2" >
          <v-btn
            color="primary"
            dark
            @click.stop="dialog = true"
             tile outlined 
          >
            <v-icon left>mdi-plus</v-icon> Добавить товар
          </v-btn>

          <v-dialog v-model="dialog" min-width="80%" >
            <additem></additem>
          </v-dialog>


<v-card>
    <v-card-title>
      Товары и услуги
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search-mdi"
        label="Поиск"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
    ></v-data-table>
  </v-card>



        </div>  


</template>

<script>
    import additem from './additem'

    const remote = require('electron').remote;
    const application = remote.app;
    var Datastore = require('nedb')
    var db = new Datastore({ filename: `${application.getPath('userData')}/items.db`, autoload: true });

    export default {
    name: 'items',
    components: {
        additem
    },
    data() {
      return {
        dialog: false,

        search: '',
        headers: [
          {
            text: 'Наименование',
            align: 'left',
            value: 'title',
          },
          { text: 'Цена', value: 'price' },
          { text: 'Штрихкод', value: 'ean13' }
        ],
        items: [
          {
            title: 'Frozen Yogurt',
            price: 159,
            ean13: 6.0,
          },
        ]

      }
    },
    created() {
      let app = this 
      db.find({}, function (err, docs) {
        console.log(docs.length)
          if (docs.length) {
            app.items = docs
          } else {
            console.log('clear')
          }
          
      });
    },
    methods: {

        updateItem() {

        },
        removeItem() {

        }
    
    }
  }
</script>

<style>
  
</style>
