<template>
  <div id="app">
    <v-app>
      <router-view></router-view>
    </v-app>
  </div>
</template>

<script>
  export default {
    name: 'cm',
    created() {
     
    }
  }
</script>

<style>
  /* CSS */
</style>
